<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top-header"></div>
    <div class="top-panel">
      <div class="showmsg">
        <% if(success) { %>
          <p class="msg msg-successful"><%= success %><a href="/login">去登录</a></p>
        <% } else if (error) {%>
          <p class="msg msg-error"><%= error %></p>
        <% } %>
      </div>
      <div class="welcome-cover">
        <form action="/signup" method="POST">
          <div class="signup-input">
            <fieldset class="signup-col">
              <input id="username" name="username" type="text" placeholder="昵称">
              <p class="error-msg">用户名不能为空</p>
            </fieldset>
            <fieldset class="signup-col">
              <input id="email" name="email" type="text" placeholder="邮箱">
              <p class="error-msg">邮箱地址不能为空</p>
            </fieldset>
            <fieldset class="signup-col">
              <input id="password" name="password" type="password" placeholder="密码">
              <p class="error-msg">密码不能为空</p>
            </fieldset>
            <fieldset class="signup-col">
              <input id="repassword" name="repassword" type="password" placeholder="确认密码">
              <p class="error-msg">请再次输入密码</p>
            </fieldset>
            <button class="submit-btn" id="signup">注 册</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/site_validate.js"></script>
  </body>
</html>
